<h1>Insert the form to create a new instance of your model.</h1>

<form action='/users' method="POST">
  <label>Username</label>
  <input type="text" name="username">

  <label>Password</label>
  <input type="password" name="password">

  <input type="submit">
</form>
